html,body {
	height:100%;
	/*background-color: #B5B7B4;*/
	overflow: hidden;
}
.container {
	width: 1024px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	height: 200px;
}

.container>span {
	font-size: 4em;
	color: white;
	opacity: 0.4;
}

.container>span.selected {
	color: #FFBF00;
	opacity: 0.8;
}

.odd {
	align-self: center;
}
