html,body {
	height:100%;
	/* background-color: #050505; */
	overflow: hidden;
}
.container {
	width: 1920px;
	padding: 10px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: flex-start;
	height: 200px;
}

.container>span {
	font-size: 6em;
	color: white;
	opacity: 0.4;
}

.container>span.selected {
	color: #FFBF00;
	opacity: 0.8;
	animation: glow 2s ease-in-out infinite alternate;
}



.svgPath.selected {
	color: #dc540a;
	animation: glow 2s ease-in-out infinite alternate;

}



@keyframes glow {
	0% {
	  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 2px #dc540a, 0 0 5px #dc540a,
		0 0 10px #dc540a;
	}
  }

.odd {
	align-self: center;
}
