html,body {
	width: 1775px;
	height:1080px;
	overflow: hidden;
	margin: 0;
	/*position: fixed; top: 0; left: 0;*/
}
.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: transparent;
	border-radius: 25px 25px 25px 25px;
}

#gameFrame {
	position: fixed;
	top: 82px;
	left: 0px;
	width: 1753px;
	height: 986px;
	border-left: 11px solid;
	border-right: 11px solid;
	border-bottom: 12px solid;
	border-radius: 0px 0px 25px 25px;
	border-color: #FF0000;
}

.player-banner {
	height: 82px;
	width: 100%;
	position: absolute; left: 0; top: 0;
	border-radius: 25px 25px 0px 0px;
}

#player {
	background-color: #FF0000;
	color: white;
	display: flex;
}

.third {
	flex: 1;
	font-size: 3.5em;
	line-height: 84px;
}

#game-infos {
	flex: 3;
	font-size: 3em;
	margin: 0 auto;
	text-align: center;
}

.runner {
	position: relative;
	left: 15px;
}

.Pbs {
	position: relative;
	right: 15px;
	text-align: right;
}

#cardIframe {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	transition: opacity 0.5s;
}

#cardIframe.hidden {
	opacity: 0;
}

#glyph {
	width: 40px;
	/*margin: 0 auto;*/
	/*text-align: center;*/
	fill: white;
	line-height: 84px;
}
