.container {
	width: 452px;
	height: 132px;
	position: fixed; top:0; left: 0;
}

img {
	height: 300px;
	border-radius: 50%;
}

/*#infos {*/
/*	font-size: 2em;*/
/*	color: black;*/
/*	font-family: roboto;*/
/*	padding-left: 20px;*/
/*}*/

/*#infos>div {*/
/*	#line-height: 66px;*/
/*	width: 295px;*/
/*	overflow: hidden;*/
/*	white-space: nowrap; !* Don't forget this one *!*/
/*	text-overflow: ellipsis;*/
/*}*/

